html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    margin: 0 auto;
    background-color: rgb(236, 31, 31);
}
.header{
width: 100%;
height: 100px;
background-color: black;
}
#ttuimg{
    width: 100px;
    height: 100px;
    margin-left: 30px;
}
.main{
    width: 100%;
    height: 1000px;
    background-color:rgb(236, 31, 31);
}
.pstudent{
    margin-top: -800px;
    width: 80%;
    height: 100px;
    margin-left: 150px;
    background-color: black;
}
.container.img{
    position: static;
    margin-top: 30px;
}
#ptext{
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
}
#ttuim1
{
    border-radius: 50%;
}

.footer{
    height: 300px;
    width: 100%;
    background-color: bisque;
}

.footer{
    background-color:black;
    height:auto;
}
h4{
    font-size:5px;
    color:#f2ebc2;
    cursor: pointer;
}
h4:hover{
    color:white;
}
.footer2{
    background-color:#524b4b;
    height:auto;
    font-size:15px;
}
.footer2 p{
    font-weight: bold;
}
.fa{
    margin-right:15px;
    color:white;
    font-size:15px;
}
.fa:hover{
    color:red;
}